blockquote {
  border-left: 5px solid #7a7a7a;
  font-style: italic;
  margin-left: $space-1;
  padding: $space-1;
}

blockquote footer {
  background-color: #fff;
  border-color: transparent;
  color: #7a7a7a;
  font-size: .85rem;
  font-style: normal;
  text-align: left;
  padding: 0;
}

blockquote.blockquote-smaller, blockquote.blockquote-smaller p {
  font-size: 0.9rem;
  .fa {
    color: #ddd;
  }
}

blockquote.blockquote-smaller {
  border-left: 0.8px solid #dddddd;
}

blockquote.blockquote-smaller {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

blockquote.blockquote-smaller {
  margin-left: 1rem;
  padding: 1rem;
}

.dialogue-left {
  padding-right:35%;
}

.dialogue-right {
  text-align: right;
  padding-left:35%;
}