$background-color: #2b303b;
$text-color: white;
$link-color: #4b99dc;
$link-color-hover: #B2D9FB;
$header-link-hover-color: white;

body {
  background-color: $background-color;
  color: $text-color;

  p {
    color: $text-color;
  }

  .site-header a {
    color: white;
    text-shadow: none;
  }

  a {
    color: $link-color;
    background-image: none;
    text-shadow: none;
    text-decoration: none;
  }

  a:focus, a:hover {
    color: $link-color-hover;
    text-shadow: none;
    text-decoration: underline;
  }

  .site-header, .site-nav {
    a {
      text-decoration: none;
    }

    a:focus, a:hover {
      color: $header-link-hover-color;
      text-shadow: none;
      text-decoration: none;
      border-bottom: 0;
    }
  }
}

.post-link .post-title {
  color: white;
}

.post a:focus, .post a:hover {
  color: white;
  text-shadow: none;
  text-decoration: none;
}